<div class="container">
  <div class="capitalize">
    <div class="row">
      <div class="col-xs-12">
        <h3>My Servers</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div *ngIf="!servers">
          <div>
            <loading></loading>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="servers && servers.length == 0">
      You have no servers<br/>
      <a [routerLink]="['add']">Add one now?</a>
    </div>
    <div *ngIf="errorMessage">
      {{errorMessage}}
    </div>
    <div *ngIf="servers && servers.length > 0">
      <p-dataTable [value]="servers"
                   [responsive]="true"
                   [stacked]="stacked"
                   selectionMode="single"
                   [(selection)]="selectedCar2"
      >
        <p-column [styleClass]="'image-col'" field="type">
          <template let-col let-server="rowData" pTemplate="body">
            <img class="list-image" src="assets/image/{{server.type}}.png"/>
          </template>
        </p-column>
        <p-column field="name" header="Server name" [sortable]="true" (click)="selectServer()"></p-column>
        <p-column field="type" header="Game type" [sortable]="true"></p-column>
        <p-column field="time_remaining" header="Creation date" [sortable]="true"></p-column>
        <p-column field="status" header="Status" [sortable]="true"></p-column>
        <p-column field="ip" header="IP address" [sortable]="true"></p-column>
        <p-column field="port" header="Port" [sortable]="true"></p-column>
        <p-column [styleClass]="'restart-col'" field="type">
          <template pTemplate="header">
            Restart
          </template>
          <template let-col let-server="rowData" pTemplate="body">
            <i (click)="restartServer(server)" class="fa fa-refresh" aria-hidden="true"></i>
          </template>
        </p-column>
        <p-column [styleClass]="'delete-col'" field="type">
          <template pTemplate="header">
            Delete
          </template>
          <template let-col let-server="rowData" pTemplate="body">
            <i (click)="deleteServer(server)" class="fa fa-trash" aria-hidden="true"></i>
          </template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>
