.step-item {
  text-align: center;
  color: #999;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.step-item.highlight {
  border: 1px solid #156090;
  background: #186ba0;
  color: #FFF;
}
.container {
  margin-top: 10px;
}
