<div class="login-content">
  <div class="modal-dialog">
    <div class="loginmodal-container dashboard-block">
      <span><img src="assets/image/Adventure-servers.png"/></span>
      <h3>Login to Your Account</h3>
      <div form-wrapper>
        <div class="main-login" *ngIf="!mfaShow">
          <form>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input class="form-control" type="text" name="user" placeholder="Username"  [(ngModel)]="username">
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
              <input class="form-control" type="password" name="pass" placeholder="Password" [(ngModel)]="password">
            </div>
          </form>
          <button (click)="onLogin()" type="submit" class="btn btn-primary btn-md btn-block">
            Login
          </button>
        </div>
        <div class="mfa-block" *ngIf="mfaShow">
          <form>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input class="form-control" type="text" name="mfa-code" placeholder="MFA Code"  [(ngModel)]="mfaCode">
            </div>
          </form>
          <button (click)="submitMFA()" type="submit" class="btn btn-primary btn-md btn-block">Login</button>
        </div>
      </div>
      <div class="messages">
        <div *ngIf="loading">
          <loading [size]="'medium'"></loading>
        </div>
        <p-messages [value]="msgs"></p-messages>
      </div>
      <div class="footer">
        <div>
          <p>
            <a href="#">Forgot your username?</a>
            <a href="#">Forgot your password?</a>
          </p>
        </div>
        <div>
          <p>Problems logging in?. Please login to Support</p>
        </div>
        <div>
          <p>Copyright © 2016 Bankhawk Analytics</p>
        </div>
      </div>
    </div>
  </div>
</div>
