container_commands:
  00_create:
    command: "source /opt/python/run/venv/bin/activate && python -c 'from application import db; db.create_all()'"
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python application.py db migrate"
  02_upgrade:
    command: "source /opt/python/run/venv/bin/activate && python application.py db upgrade"
