OptionSettings:
  - Namespace: aws:autoscaling:launchconfiguration
    OptionName: EC2KeyName
    Value: !Ref 'KeyPair'
  - Namespace: aws:autoscaling:launchconfiguration
    OptionName: InstanceType
    Value: t2.micro
  - Namespace: aws:ec2:vpc
    OptionName: AssociatePublicIpAddress
    Value: 'true'
  - Namespace: aws:elasticbeanstalk:command
    OptionName: DeploymentPolicy
    Value: Rolling
  - Namespace: aws:elasticbeanstalk:command
    OptionName: BatchSizeType
    Value: Fixed
  - Namespace: aws:elasticbeanstalk:command
    OptionName: BatchSize
    Value: '1'
  - Namespace: aws:autoscaling:asg
    OptionName: MinSize
    Value: '1'
  - Namespace: aws:autoscaling:asg
    OptionName: MaxSize
    Value: '4'
  - Namespace: aws:elasticbeanstalk:managedactions
    OptionName: ManagedActionsEnabled
    Value: true
  - Namespace: aws:elasticbeanstalk:managedactions
    OptionName: PreferredStartTime
    Value: "Tue:10:00"
  - Namespace: aws:elasticbeanstalk:managedactions:platformupdate
    OptionName: UpdateLevel
    Value: minor
  - Namespace: aws:elasticbeanstalk:managedactions:platformupdate
    OptionName: InstanceRefreshEnabled
    Value: true
