<div class="container">
  <div class="dashboard-block container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <img src="assets/image/{{game.name}}.png"/>
      </div>
      <div class="col-lg-8">
        <h3>{{game.name}}</h3>
        <form #form="ngForm" (ngSubmit)="goToPayment(form.value)">
          <div class="form-group">
            <label for="size">Server size: </label>
            <select class="form-control"
                    id="size"
                    [ngModel]="selectedSize"
                    required
                    name="size"
                    #size >
              <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input #name name="name" [(ngModel)]="serverName" type="text" class="form-control" id="name" required>
          </div>
          <div class="form-group">
            <button id="next" type="submit"
                    class="btn btn-primary btn-block">Pay now
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
