<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Compiled and minified CSS -->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Adventure Servers - Premium Minecraft Pocket Servers</title>
</head>
<body>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/static/Adventure-Servers.png" class="responsive-img" alt="Adventure Servers" />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if not current_user.is_authenticated %}
            <li><a href="/login">Log In</a></li>
          {% else %}
            <li><a href="/servers">My Servers</a></li>
            <li><a href="/logout">Log Out</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  {% block body %}
  {% endblock %}

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <h5 class="white-text">Adventure Servers</h5>
          <p class="grey-text text-lighten-4">We want to make game server hosting simple and cheap, and with great support. We appreciate feedback, so do reach out to us.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="#!">adventureservers@kolabnow.com</a></li>
            <li><a class="white-text" href="https://twitter.com/advsrvs">@AdvSrvs</a></li>
            <li><a class="white-text" href="#!">#AdventureServers on Freenode</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          <!-- Made by <a class="orange-text text-lighten-3" href="https://materializecss.com">Materialize</a> -->
      </div>
    </div>
  </footer>
</body>
</html>
