{% extends "layout.html" %}
{% block body %}
<div class="container">
      <br><br>
    <div class="row">
    <nav>
    <div class="nav-wrapper">
      <div class="col s12">
          <a href="/servers" class="breadcrumb">Servers</a>
      </div>
    </div>
  </nav>
  </div>
  <div class="row">
    <div class="col s6">
      <h4>Servers</h4>
      <ul class="collection">
        {% for server in servers %}
        <li class="collection-item"><a href="/server/{{ server.id }}">{{ server.id }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
