{% extends "layout.html" %}
{% block body %}
<div class="container">

    <nav>
    <div class="nav-wrapper">
      <div class="col s12">
          <a href="/server/{{ id }}" class="breadcrumb">{{ id }}</a>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col s12">

      <h4>Settings</h4>

        <form action="" method="post" class="col s12">
	      <div class="row center">

            <div class="input-field col s7">
                <div class="input-field"><input value="{{ name }}" id="name" name="name" type="text" class="validate" required></div>
            </div>

            <div class="input-field col s7">
                <div class="input-field"><input value="{{ motd }}" id="motd" name="motd" type="text" class="validate" required></div>
            </div>

          </div>

      <h4>Plugins</h4>

          {% for plugin_nice_name,plugin_description in zip(plugins.items(), plugin_descriptions.items()) %}
          <div class="row">
            <div class="col s12">
              <div class="card-panel white">
                <div class="switch">
                    <h5>{{ plugin_nice_name[1] }}</h5>
                    <p>{{ plugin_description[1] }}</p>
                  <label>
                      <input type="checkbox" name="plugins" value="{{ plugin_nice_name[0] }}" {% if plugin_nice_name[0] in enabled_plugins %}checked{% endif %}>
                      <span class="lever"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        <div class="row center"><input type="submit" id="download-button" class="btn-small waves-effect waves-light orange" value="Save and Reboot"</input></div>

        </form> 
    </div>
  </div>
</div>
{% endblock %}
