{% extends "layout.html" %}
{% block body %}
  <div class="section no-pad-bot" id="index-banner">
      <br><br>
    <div class="container">
      <div class="row center">
          <!-- <img src="/static/Adventure-Servers.png" alt="Adventure Servers"> -->
	      <h5 class="header col s12 light"><strong>Premium<strong> Minecraft Pocket Server hosting</h5>
      </div>
      <div class="card panel"
        <br>
        <br>
      <div class="row center">
          {% if not beta_test %}
	      <h6 class="header col s12 light">Get started with five hours free.</h6>
          {% else %}
	      <h6 class="header col s12 light">Enter promo code for closed beta test!</h6>
          {% endif %}
      </div>

      <form action="server/new" method="post" class="col s12">
	    <div class="row center">
        {% if beta_test %}
        <div class="input-field col s6 offset-s3"><input placeholder="Promo Code" id="promo-code" name="promo-code" type="text"></div>
        {% endif %}
	    <div class="input-field col s6 offset-s3"><input placeholder="Minecraft Name" id="minecraft_name" name="minecraft_name" type="text" class="validate"></div>
        <div class="input-field col s6 offset-s3"><input placeholder="Your email" id="email" name="email" type="email" class="validate"></div>
      </div>
        <div class="row center"><input type="submit" id="download-button" class="btn-large waves-effect waves-light orange" value="Launch Now"</input></div>
        </form> 
        <br>
      </div>


      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">flash_on</i></h2>
            <h5 class="center">Lightning fast. Lag-free.</h5>

            <p class="light">These are premium quality server. 8GB RAM. Multiple cores. Plenty of power for even 200 players.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons">settings</i></h2>
            <h5 class="center">Pay-as-you-Go model.</h5>

            <p class="light">Keep it simple, stupid. First 24 hours are free. Top up the account thereafter to add more days.</p>
          </div>
        </div>
        <div class="col s12 m4"> <div class="icon-block">
            <h2 class="center green-text"><i class="large material-icons">group</i></h2>
            <h5 class="center">Awesome support.</h5>

            <p class="light">High-quality support via dedicated IRC channel, Twitter and email.</p>
          </div>
        </div>

      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
{% endblock %}
