<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Adventure Servers - Premium Minecraft Pocket Servers</title>
</head>
<body>
    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

          <a id="logo-container" href="/" class="brand-logo center"><img src="/static/Adventure-Servers.png" style="display: block; margin-left: auto; margin-right: auto; width: 65%" alt="Adventure Servers"></a>
  <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">

      <ul class="right hide-on-med-and-down">
        {% if not current_user.is_authenticated %}
        <li><a href="/login">Log In</a></li>
        {% else %}
        <li><a href="/servers">My Servers</a></li>
        <li><a href="/logout">{{ Log Out }}</a></li>
        {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  {% block body %}
  {% endblock %}

  <footer class="page-footer brown">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Adventure Servers</h5>
          <p class="grey-text text-lighten-4">We want to make game server hosting simple and cheap, and with great support. We appreciate feedback, so do reach out to us.</p>


        </div>
        <!--
        <div class="col l3 s12">
          <h5 class="white-text">Docs</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        -->
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="#!">adventureservers@kolabnow.com</a></li>
            <li><a class="white-text" href="https://twitter.com/advsrvs">@AdvSrvs</a></li>
            <li><a class="white-text" href="#!">#AdventureServers on Freenode</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  </body>
</html>
